@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Special+Gothic+Condensed+One&display=swap');

body{
    background-color: black;
    color: #f0eae3;
}

.titulo, .subtitulo {
    font-family: "Special Gothic Condensed One", sans-serif;
}

.desc {
    font-family: "Merriweather", serif;
    font-size: medium;
}

.link{
    text-decoration: none;
    color: #fb8903;
}

.link:hover{
    color: white;
}

.btn{
    color: #fb8903;
}

@media screen and (min-width: 768px) {

    body {
        font-size: 18px;
        padding: 30px;
    }
    
    .desc {
        max-width: 80%;
        font-size: 1.1em;
    }
    
    .titulo {
        font-size: 2.5em;
    }
    
    .subtitulo {
        font-size: 1.8em;
    }

    .logar{
        margin-left: 400px;
        margin-right: 400px;
        background-color: #201b18;
        color: #fb8903;
        border-radius: 25px;
    }
}