@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Special+Gothic+Condensed+One&display=swap");

body {
  background-color: black;
  color: #f0eae3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.opcao {
    border: solid 1px #482d1b;
    transition: all 0.3s ease;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 1px #6533109a;
}

.opcao:hover {
    transform: translateY(-3px);
    border: solid 1px #fb8903;
    box-shadow: 0 5px 15px rgba(251, 137, 3, 0.4);
}

main {
    width: 100%;
    padding: 20px 0;
}

.card-img {
  width: 70%;
  max-height: 200px;
  object-fit: cover;
}

.titulo,
.subtitulo {
  font-family: "Special Gothic Condensed One", sans-serif;
}

.desc {
  font-family: "Merriweather", serif;
  font-size: medium;
}

a{
  text-decoration: none;
  color: white;
}

header {
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites */
}

header img {
    width: 100%;
    display: block; /* Remove espaços abaixo da imagem */
}

/* Opcional: ajuste de altura para desktop */
@media (min-width: 768px) {
    header img.d-md-block {
        max-height: 300px; /* Ajuste conforme necessário */
        object-fit: cover; /* Mantém a proporção cobrindo toda a área */
    }
}
