@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&family=Special+Gothic+Condensed+One&display=swap");

body {
  background-image: url('/img/fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f0eae3;
  font-family: "Merriweather", serif;
  margin: 0;
  min-height: 100vh;
}

.titulo-central{
  color: white;
}

.botao-voltar {
  color: white;
  transition: color 0.3s ease;
  font-weight: 700;
}

.botao-voltar:hover,
.botao-voltar:focus {
  color: #fb8903;
  outline: none;
}

.opcao {
  border: 3px solid #fb8903;
  transition: all 0.3s ease;
  padding: 15px;
  border-radius: 20px;
  font-family: "Special Gothic Condensed One", sans-serif;
  cursor: pointer;
  background-color: black;
}

.opcao:hover,
.opcao:focus {
  transform: translateY(-3px);
  border-color: #fb8903;
  box-shadow: 0 5px 15px rgba(251, 137, 3, 0.4);
  text-decoration: none;
  outline: none;
}

.subtitulo {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #f0eae3;
}

main {
  width: 100%;
  padding: 20px 0;
}

header img {
  height: auto;
  display: block;
}

/* Ajuste para telas pequenas */
@media (max-width: 576px) {
  .subtitulo {
    font-size: 1.2rem;
  }

  .opcao {
    padding: 12px;
  }
}
